{% extends 'main_template.html' %}

{% block title %}
<title>Algolia Search</title>
{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css/themes/satellite-min.css">
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
{% endblock %}

{% block content %}
<nav class="level mt-4 ">
    
        <div class="level-item">

            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2" onclick="toggleFilter(this)">
                        <span class="icon is-small">
                            <i class="fa-solid fa-filter" aria-hidden="true"></i>
                        </span>
                        <span>Filter</span>
                    </button>
                </div>
                
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content p-4">
                        <!-- FILTERS -->
                        <h4>Sport</h4>
                        <div id="filterSport" class="filter-container"></div>
                        <br>
                        <h4>Difficulty</h4>
                        <div id="filterDifficulty" class="filter-container"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="level-item">
            <!-- SEARCH BOX -->
            <div id="searchbox" class="searchbox"></div>
        </div>

        <div class="level-item">

            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2" onclick="toggleSort(this)">
                        <span class="icon is-small">
                            <i class="fa-solid fa-sort"></i>
                        </span>
                        <span>Sort</span>
                    </button>
                </div>
                
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content p-4">
                        <!-- SORT -->
                        <div id="sortContainer" class="sort-container"></div>
                    </div>
                </div>
            </div>

        </div>

</nav>

<div class="container m-4">
    <!-- HITS (RESULTS) -->
    <div id="hits"></div>

    <!-- PAGINATION -->
    <div id="pagination"></div>
</div>

<script>

    function toggleFilter(el) {
        const element = el.closest('.dropdown');
        if (element.classList.contains('is-active')) {
            element.classList.remove('is-active');
        } else {
            element.classList.add('is-active');
        }
    }

    function toggleSort(el) {
        const element = el.closest('.dropdown');
        if (element.classList.contains('is-active')) {
            element.classList.remove('is-active');
        } else {
            element.classList.add('is-active');
        }
    }

    {% raw %}

    // Initialize the search
    const search = instantsearch({
        indexName: 'Workouts',
        searchClient: algoliasearch('JW8PD7RSTA', 'f76f66853fdc7aa003688dfe31a703b2'),
    });

    // Search box widget
    search.addWidget(
        instantsearch.widgets.searchBox({
            container: '#searchbox',
            placeholder: 'Search Workouts...',
        })
    );

    // Filter
    search.addWidgets([
        instantsearch.widgets.refinementList({
            container: '#filterSport',
            attribute: 'sport',
            limit: 5,
        }),
        instantsearch.widgets.refinementList({
            container: '#filterDifficulty',
            attribute: 'difficulty',
            limit: 5,
        }),
    ]);

    // Sort
    search.addWidget(
        instantsearch.widgets.sortBy({
            container: '#sortContainer',
            items: [
                { label: 'Newest', value: 'Workouts' },
                { label: 'Oldest', value: 'Workouts_date_asc' },
            ],
        })
    );

    // Hits widget (displays search results)
    const customHits = instantsearch.connectors.connectHits((renderOptions, isFirstRender) => {
        const { hits, widgetParams } = renderOptions;

        const container = widgetParams.container;
        if (hits.length === 0) {
            container.innerHTML = '<div>No results found</div>';
        } else {
            container.innerHTML = `
            <div class="custom-hits">
                ${hits.map(hit => `
                    <div>
                        <div id="${hit.objectID}" class="card m-4 p-4">
                            <div class="title">${instantsearch.highlight({ attribute: 'title', hit })}</div>
                            <div class="subtitle">${instantsearch.highlight({ attribute: 'details', hit })}</div>
                            <div class="created-at">${hit.created_at}</div>
                            <div class="difficulty">${hit.difficulty} Level</div>
                            <div class="sport">
                                ${hit.sport}
                                ${hit.sport === 'Swimming' ? '<i class="fa-solid fa-person-swimming"></i>' : ''}
                                ${hit.sport === 'Running' ? '<i class="fa-solid fa-person-running"></i>' : ''}
                                ${hit.sport === 'Lifting' ? '<i class="fa-solid fa-dumbbell"></i>' : ''}
                                ${hit.sport === 'Biking' ? '<i class="fa-solid fa-person-biking"></i>' : ''}
                            </div>
                        </div>
                    </div>
                `).join('')}
            </div>`;
        }
    });

    // Initialize the custom hits widget
    search.addWidget(
        customHits({
            container: document.querySelector('#hits'),
        })
    );

    // Pagination
    search.addWidget(
        instantsearch.widgets.pagination({
            container: '#pagination',
            cssClasses: {
                root: 'pagination',
                item: 'pagination-item',
                link: 'pagination-link',
                selectedItem: 'pagination-item-selected',
            },
        })
    );

    search.addWidget(
        instantsearch.widgets.configure({
            hitsPerPage: 5,
            query: '', // default so that there are some initial results on the first load
        })
    );

    search.start();
    {% endraw %}
</script>

{% endblock %}